{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Item! {% endblock %}

{% block body %}
    <h1>Item page Item/show.html.twig</h1>
    <hr>
    <h1> {{ item.name }} </h1>
    <hr>
    <h2> {{ item.price }} </h2>
    <h2> {{ item.content|raw }} </h2>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
        <a href="{{ path('item_edit', {id : item.id}) }}" class="btn btn-info">Edit item</a>
    {% endif %}
{% endblock %}
