{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Sale! {% endblock %}

{% block body %}

    {#<h1>Hello, this is Sale/index.html.twig</h1>#}
    <hr>

    {% if form is defined %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Send"
               class="btn btn-success" />
        {{ form_end(form) }}

    {% endif %}

{% endblock %}
